*{
    margin: 0;
    padding: 0;
    font-family: Courier, monospace;
    box-sizing:border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #8b7f6d, #fff8fa );
    padding: 10px;
}

.todo{
    width: 100%;
    max-width: 700px;
    background: #ffffff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 6px;
}

.todo h2{
    color: #6a533d;
    display: flex;
    align-tracks: center;
    margin-bottom: 50px;
    margin-left: 220px;
    font-size: 30px;
}

.todo h2 img{
    width: 40px;
    margin-left: 10px;
    margin-top: -5px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0 ;
    border-radius: 10px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1; /*чтобы оно занимало всю ширину*/
    border: none;
    outline: none;
    background: transparent; /*прозрачный фон*/
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #dda754;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

/* ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
} */

/* ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
} */

ul li.checked{
    color: #e9d8ad;
    text-decoration: line-through;

}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 30%;
}

ul li span:hover{
    background: #edeef0 ;

}
